# Python
_pycache_/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables (VERY IMPORTANT)
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp